{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src=" /static/images/bill.jpg" alt="Bill Gardner" class="img-rounded">
        </div>
        <div class="col-lg-4">
            <p><bold>About Me:</bold></p>
            <h4>I design custom furniture and solve problems. I'm a furniture designing custom problem solver.
            I have a weird passion about the built environment and well designed objects that don't junk
            up limited space we're given. I relish Danish modernism, sardonic quips, and honesty in all
            of its forms. <br><br>I love cheese more than I should.
        </div>
        <div class="col-lg-2">
            <ul><a href="http://www.twitter.com/williamjgardner" class="btn btn-primary btn-lg active" role="button">Twitter</a></ul>
            <ul><a href="https://www.linkedin.com/in/williamjohngardner" class="btn btn-primary btn-lg active" role="button">LinkedIn</a></ul>
            <ul><a href="https://about.me/williamjohngardner" class="btn btn-primary btn-lg active" role="button">About.me</a></ul>
            <ul><a href="http://www.williamjohngardner.com" class="btn btn-primary btn-lg active" role="button">Website</a></ul>
            <ul><a href="http://www.archdesign.vt.edu/industrial-design/" class="btn btn-primary btn-lg active" role="button">Education</a></ul>
            <img src="/static/images/nelson_sofa.jpg" alt="Marshmallow Sofa">
        </div>
    </div>
</div>
{% endblock %}
