{% extends "base.html" %}

{% block content %}
<div class="container">
    <img src=" /static/images/bill.jpg" alt="Bill Gardner">

    <p>I design custom furniture and solve problems. I'm a furniture designing custom problem solver.
    I have a weird passion about the built environment and well designed objects that don't junk
    up limited space we're given. I relish Danish modernism, sardonic quips, and honesty in all
    of its forms. I love cheese more than I should.
    WORK
    William John Gardner Design Studio
    EDUCATION
    Virginia Tech</p>
</div>
{% endblock %}