{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src=" /static/images/bill.jpg" alt="Bill Gardner" class="img-rounded">
        </div>
        <div class="col-lg-4">
            <p><bold>About Me:</bold></p>
            <h4>I design custom furniture and solve problems. I'm a furniture designing custom problem solver.
            I have a weird passion about the built environment and well designed objects that don't junk
            up limited space we're given. I relish Danish modernism, sardonic quips, and honesty in all
            of its forms. I love cheese more than I should.
        </div>
        <div class="col-lg-2">
            <ul><a href="http://www.twitter.com/williamjgardner">Twitter</a></ul>
            <ul><a href="https://www.linkedin.com/in/williamjohngardner">LinkedIn</a></ul>
            <ul><a href="https://about.me/williamjohngardner">About.me</a></ul>
            <ul><a href="http://www.williamjohngardner.com">Website</a></ul>
            <ul><a href="http://www.archdesign.vt.edu/industrial-design/">Education</a></ul>
        </div>
    </div>
</div>
{% endblock %}
<div class="container">

            <img src=" /static/images/bucket_chair.jpg" alt="Bill Gardner">
            <h2>You probably haven't heard of them ennui proident before they sold out, deep v consequat williamsburg sriracha keffiyeh retro. Enim scenester yr small batch, literally listicle quis 3 wolf moon echo park irure occaecat post-ironic.</h2>
            </div>
            <div class="col-lg-6">
            <img src=" /static/images/fp_ad.jpg" alt="Bill Gardner">
            </div>
        </div>
    </div>