{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <img src=" /static/images/bucket_chair.jpg" alt="Bill Gardner">
            <h2>You probably haven't heard of them ennui proident before they sold out, deep v consequat williamsburg sriracha keffiyeh retro. Enim scenester yr small batch, literally listicle quis 3 wolf moon echo park irure occaecat post-ironic.</h2>
            </div>
            <div class="col-lg-6">
            <img src=" /static/images/fp_ad.jpg" alt="Bill Gardner">
            </div>
        </div>
    </div>
{% endblock %}